Flask
gunicorn
opencv-python-headless

# Lightweight PyTorch for CPU (small size)
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
--index-url https://download.pytorch.org/whl/cpu

ultralytics==8.0.196
numpy
