<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drowsiness Detector</title>

    <style>
        body { background: #000; color: #fff; text-align: center; }
        canvas { width: 90%; max-width: 400px; border-radius: 10px; }
        button { padding: 10px 20px; margin-top: 10px; }
    </style>
</head>

<body>

<h1>Drowsiness Detector</h1>

<button id="enableAudioBtn">Enable Alarm</button>

<video id="video" autoplay playsinline style="display:none;"></video>

<canvas id="canvas"></canvas>

<h2 id="status">Status: Loading...</h2>

<audio id="alarmSound" src="/static/alarm.wav" preload="auto" loop></audio>

<script>
    const video = document.getElementById("video");
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext("2d");
    const statusText = document.getElementById("status");
    const alarm = document.getElementById("alarmSound");
    const btn = document.getElementById("enableAudioBtn");

    btn.addEventListener("click", () => {
        alarm.play().then(() => {
            alarm.pause();
            alarm.currentTime = 0;
            btn.style.display = "none";
            alert("Alarm Enabled");
        });
    });

    navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => video.srcObject = stream)
        .catch(() => statusText.innerText = "Camera Access Blocked");

    setInterval(() => {
        if (!video.videoWidth) return;

        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        ctx.drawImage(video, 0, 0);

        const frame = canvas.toDataURL("image/jpeg");

        fetch("/predict", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ image: frame })
        })
        .then(res => res.json())
        .then(data => {

            statusText.innerHTML = 
                `Status: <span style="color:${data.status==='Drowsy'?'red':'lime'}">${data.status}</span>
                 <br>Confidence: ${data.confidence}`;

            if (data.status === "Drowsy") {
                if (alarm.paused) alarm.play();
            } else {
                alarm.pause();
                alarm.currentTime = 0;
            }
        });
    }, 300);
</script>

</body>
</html>
